.friendList {
  display: flex;
  list-style: none;
  padding: 0;
  justify-content: space-around;
  margin: 0;
  flex-direction: column;
  margin: 15px;
  width: 400px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.friendListItem {
  display: flex;
  height: 115px;
  background-color: #fff;
  align-items: center;
  font: 2em sans-serif;
}

.status {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin: 16px;
  background-color: #5db34e;
}

.statusOff {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin: 16px;
  background-color: #e36356;
}

.avatar {
  border-radius: 5%;
  margin-right: 16px;
}