.section {
  width: 268px;
  margin-left: 15px;
  background-color: #fff;
  margin-top: 15px;
  text-align: center;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.title {
  font: 18px sans-serif;
  text-transform: uppercase;
  padding-top: 22px;
  font-weight: bold;
}

.list {
  display: flex;
  list-style: none;
  padding: 0;
  justify-content: space-around;
  margin: 0;
}

.item {
  display: flex;
  flex-wrap: nowrap;
  flex: 1;
  margin: 0;
  padding: 0;
  flex-direction: column;
  justify-content: space-around;
  border: 1px solid #d8e0ea;
  border-collapse: collapse;
  height: 60px;
  background-color: #19032a;
  font-weight: bolder;
  color: #fff;
}