.transactionHistory {
  text-align: center;
  background-color: #fff;
  margin: 15px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

tr:nth-child(even) {
  background-color: #ecf1f4;
}

th {
  background-color: #460324;
  color: white;
  width: 290px;
  height: 50px;
  text-transform: uppercase;
  font: 1em sans-serif;
  font-weight: bold;
}

tr {
  height: 50px;
  text-transform: capitalize;
  font: 1em sans-serif;
}